@model IEnumerable<AdventureWorks.Web.Models.BasketViewModel>
@{
    ViewBag.Title = "Index";
}

<div class="row" style="margin-top: 2vh; margin-right: 1vw;">
    <div class="col-md-7" style="border: 1px solid #e3e2e7; border-radius: 4px; margin-right: 1vw; margin-bottom: 1vh;">
        <h3>Basket</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.ProductName)</th>
                    <th>@Html.DisplayNameFor(model => model.Quantity)</th>
                    <th>@Html.DisplayNameFor(model => model.Price)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ProductName</td>
                            <td>@item.Quantity</td>
                            <td>@item.Price</td>
                            <td>
                                <div class="row">
                                    <div class="col-md-2"><button id="plus" class="btn btn-success glyphicon glyphicon-plus" data-identifier="@item.ProductID"></button></div>
                                    <div class="col-md-2"><button id="minus" class="btn btn-danger glyphicon glyphicon-minus" data-identifier="@item.ProductID"></button></div>
                                    <div class="col-md-2"><button id="remove" class="btn btn-default glyphicon glyphicon-trash" data-identifier="@item.ProductID"></button></div>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-4" style="border: 1px solid #e3e2e7; border-radius: 4px">
        <h3>Amount to pay</h3>
        <div class="row">
            <div class="col-md-6">To Pay:</div>
            <div class="col-md-6">@ViewBag.TotalPrice</div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12" style="margin-bottom: 1vh;">
                <button class="btn btn-primary">Place an order</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

    </script>
}

